.bgImg {
  height: 100vh;
  background-size: cover !important;
  background-position: top !important;
  position: relative !important;
  background: linear-gradient(
    to right bottom,
    rgba(123, 213, 11, 0.8),
    rgba(40, 180, 133, 0.8)
  );
}
.bgImg::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.32);
}